{% extends 'base/base.html' %}
{% load static %}

{% block title %}
<title>Contact - SolomartelHoldings</title>
{% endblock title %}
{% block content %}
<!-- Breadcrumbs -->
<section class="section novi-background breadcrumbs-custom bg-image context-dark"
         style="background-image: url({% static 'images/background.png' %});">
    <div class="breadcrumbs-custom-inner">
        <div class="container breadcrumbs-custom-container">
            <div class="breadcrumbs-custom-main">
                <h6 class="breadcrumbs-custom-subtitle title-decorated">Contacts</h6>
                <h2 class="text-uppercase breadcrumbs-custom-title">Contacts</h2>
            </div>
            <ul class="breadcrumbs-custom-path">
                <li><a href="{% url 'base:home' %}">Home</a></li>
                <li class="active">Contacts</li>
            </ul>
        </div>
    </div>
</section>
<section class="section novi-background section-sm">
    <div class="container">
        <div class="layout-bordered">
            <div class="layout-bordered-item wow-outer">
                <div class="layout-bordered-item-inner wow slideInUp">
                    <div class="icon novi-icon icon-lg mdi mdi-phone text-primary" style="color: #0a4a7f;"></div>
                    <ul class="list-0">
                        <li><a class="link-default" href="tel:#">+1-412-2034-269</a></li>
                    </ul>
                </div>
            </div>
            <div class="layout-bordered-item wow-outer">
                <div class="layout-bordered-item-inner wow slideInUp">
                    <div class="icon novi-icon icon-lg mdi mdi-email text-primary" style="color: #0a4a7f;"></div>
                    <a class="link-default" href="mailto:info@solomartel.com">info@solomartel.com</a>
                </div>
            </div>
            <div class="layout-bordered-item wow-outer">
                <div class="layout-bordered-item-inner wow slideInUp">
                    <div class="icon novi-icon icon-lg mdi mdi-map-marker text-primary" style="color: #0a4a7f;"></div>
                    <a class="link-default" href="#">30 N Gould street,Sheridan,WY</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section novi-background bg-gray-100">
    <div class="range justify-content-xl-center">
        <div class="cell-xl-6 align-self-center container">
            <div class="row">
                <div class="col-lg-9 cell-inner">
                    <div class="section-lg">
                        <h3 class="text-uppercase wow-outer"><span class="wow slideInDown">Contact Us</span></h3>
                        <!-- RD Mailform-->
                        <form class="rd-form rd-mailform" data-form-output="form-output-global" data-form-type="contact"
                              method="post" action="bat/rd-mailform.php">
                            <div class="row row-10">
                                <div class="col-md-6 wow-outer">
                                    <div class="form-wrap wow fadeSlideInUp">
                                        <label class="form-label-outside" for="contact-first-name">First Name</label>
                                        <input class="form-input" id="contact-first-name" type="text" name="name"
                                               data-constraints="@Required">
                                    </div>
                                </div>
                                <div class="col-md-6 wow-outer">
                                    <div class="form-wrap wow fadeSlideInUp">
                                        <label class="form-label-outside" for="contact-last-name">Last Name</label>
                                        <input class="form-input" id="contact-last-name" type="text" name="name"
                                               data-constraints="@Required">
                                    </div>
                                </div>
                                <div class="col-md-6 wow-outer">
                                    <div class="form-wrap wow fadeSlideInUp">
                                        <label class="form-label-outside" for="contact-email">E-mail</label>
                                        <input class="form-input" id="contact-email" type="email" name="email"
                                               data-constraints="@Email @Required">
                                    </div>
                                </div>
                                <div class="col-md-6 wow-outer">
                                    <div class="form-wrap wow fadeSlideInUp">
                                        <label class="form-label-outside" for="contact-phone">Phone</label>
                                        <input class="form-input" id="contact-phone" type="text" name="phone"
                                               data-constraints="@PhoneNumber">
                                    </div>
                                </div>
                                <div class="col-12 wow-outer">
                                    <div class="form-wrap wow fadeSlideInUp">
                                        <label class="form-label-outside" for="contact-message">Your Message</label>
                                        <textarea class="form-input" id="contact-message" name="message"
                                                  data-constraints="@Required"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="group group-middle">
                                <div class="wow-outer">
                                    <button class="button button-winona wow"
                                            style="background-color: #0a4a7f; color: rgba(255, 255, 255);"
                                            type="submit">Send Message
                                    </button>
                                </div>
                                <p>or use</p>
                                <div class="wow-outer" style="padding-top: 10px; padding-bottom: 10px;"><a
                                        class="button button-primary-outline button-icon button-icon-left button-winona wow slideInLeft"
                                        href="#"><span
                                        class="icon novi-icon text-primary mdi mdi-facebook-messenger"></span>Messenger</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- Page Footer-<a class="banner" href="https://www.templatemonster.com/intense-multipurpose-html-template.html"
                      target="_blank"><img src="{% static 'images/intense_big_02.jpg' %}" alt=""/></a>-->
{% endblock content %}