{% extends 'base/base.html' %}
{% load static %}

{% block title %}
<title>FAQ - SolomartelHoldings</title>
{% endblock title %}
{% block content %}
<div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img
        src="{% static 'images/ie8-panel/warning_bar_0000_us.jpg' %}" height="42" width="820"
        alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a>
</div>
<div class="preloader">
    <div class="preloader-logo"><img src="{% static 'images/logo.png' %}" alt="" width="201px" height="94px"
                                     srcset="{% static 'images/logo.png' %} 2x"/>
    </div>
    <div class="preloader-body">
        <div id="loadingProgressG">
            <div class="loadingProgressG" id="loadingProgressG_1"></div>
        </div>
    </div>
</div>

<!-- How it works section -->
<section class="section novi-background section-md text-center" style="padding-top: 80px;">
    <div class="container">
        <h3 class="text-uppercase font-weight-bold wow-outer">
            <span class="wow slideInDown mb-5">Frequently Asked Questions</span>
        </h3>

        <div class="row">
            <div class="col-lg-10 col-xl-12">
                <div class="row row-30 flex-column justify-content-center align-items-justify">
                    <div class="p-2">
                        <h6 class="mt-2 font-weight-bold">How to get started investing with Solomartel ?</h6>
                    </div>
                    <div class="p-3">
                        <p class="text-justify">In order to get started investing with Solomartel,you must simply click
                            on the sign
                            in/register
                            button followed by the small register button. Then fill your information in and you will be
                            able to start investing in any of our funds that are currently open. The banking information
                            needs to be provided for Solomartel to distribute returns, fees cannot be charged based on
                            that information and your account creation is totally free.
                            It is really as simply as that to get started</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-xl-12">
                <div class="row row-30 flex-column justify-content-center align-items-justify">
                    <div class="p-2">
                        <h6 class="mt-2 font-weight-bold">Can I invest in Solomartel from my country/state/region/aborad
                            ?</h6>
                    </div>
                    <div class="p-3">
                        <p class="text-center">You can invest in Solomartel funds from anywhere in the world either as
                            yourself or as a
                            legally registered entity.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-xl-12">
                <div class="row row-30 flex-column justify-content-center align-items-justify">
                    <div class="p-2">
                        <h6 class="mt-2 font-weight-bold">Can I invest with my retirement plan/ IRA/ 401k/ K-1 ?</h6>
                    </div>
                    <div class="p-3">
                        <p class="text-justify">Solomartel allows its customers to invest their retirement funds and you
                            should normally be
                            able to do so. It is important to note however that not every institution/ retirement plan
                            custodian will let you to invest in our funds with the retirement plans opened with their
                            institutions.<br>
                            Moreover, this will also depend on the legislation of your country of residence so we
                            recommend that our clients contact us directly to open retirement accounts with us, not only
                            will this incur no costs unlike with many financial institutions but we will also offer
                            tailored services to your situation. <br>
                            If you wish to invest your retirement funds with Solomartel, kindly contact us via the
                            contact information provided in your account section or using the contact section of our
                            website. <br>
                            Make sure to specify the type of retirement plan that you wish to open as well as your
                            country and state/region of residence,we will reach you via email shortly after.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-xl-12">
                <div class="row row-30 flex-column justify-content-center align-items-justify">
                    <div class="p-2">
                        <h6 class="mt-2 font-weight-bold">How will my returns be distributed ?</h6>
                    </div>
                    <div class="p-3">
                        <p class="text-justify">The returns will be sent to the banking coordinates that you provided us
                            upon opening your
                            account, you can always modify them in the profile section of your account or contact us for
                            any special requests.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-xl-12">
                <div class="row row-30 fHomelex-column justify-content-center align-items-justify">
                    <div class="p-2">
                        <h6 class="mt-2 font-weight-bold">What are the advantages of Solomartel funds over REITS ( Real
                            estate investment trusts) ?</h6>
                    </div>
                    <div class="p-3">
                        <p class="text-justify">REITs are paper assets not backed by anything with the except the
                            promises made on it. It is a liquid hybrid paper investment that does not provide the
                            stability of an actual investment
                            real estate and its price fluctuates all the time. <br>
                            With Solomartel, you own actual assets and your investments are backed by actual properties
                            and alongside that, you get all of the advantages that a real estate investor would get
                            including many tax benefits. <br>
                            Solomartel allows anyone from anywhere in the world to invest in real estate projects all
                            over the globe without needing to know the details of the field or having important cash
                            reserves.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-xl-12">
                <div class="row row-30 flex-column justify-content-center align-items-justify">
                    <div class="p-2">
                        <h6 class="mt-2 font-weight-bold">Why is the fund value always higher than the fund amount
                            ?</h6>
                    </div>
                    <div class="p-3">
                        <p class="text-justify">All of our properties have a safety margin and can always be resold at a
                            high profit. This is
                            because we negotiate deals low and the amount invested is always lower than the actual
                            value of the property reducing the risk of the investor to 0.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-xl-12">
                <div class="row row-30 flex-column justify-content-center align-items-justify">
                    <div class="p-2">
                        <h6 class="mt-2 font-weight-bold">What is the net investor yearly ROI ?</h6>
                    </div>
                    <div class="p-3">
                        <p class="text-justify">This is the net amount that the investor will earn on their investment
                            from investing in a given fund.
                            If the value for a given fund is 10%, the investor will earn 100$ yearly on every 1000$
                            invested in the project.
                            <em>These returns do not include the appreciation which is anywhere from 2 to 6% depending
                                on the fund and year</em>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-xl-12">
                <div class="row row-30 flex-column justify-content-center align-items-justify">
                    <div class="p-2">
                        <h6 class="mt-2 font-weight-bold">How much is the appreciation on solomartel investments ?</h6>
                    </div>
                    <div class="p-3">
                        <p class="text-center">The appreciation on the properties is anywhere from 2 to 6 % yearly
                            depending on the fund and year.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-xl-12">
                <div class="row row-30 flex-column justify-content-center align-items-justify">
                    <div class="p-2">
                        <h6 class="mt-2 font-weight-bold">Why are Solomartel funds considered safe/low risk investments
                            ?</h6>
                    </div>
                    <div class="p-3">
                        <p class="text-justify">Because of the way Solomartel manages risk:<br><br>
                            Firstly, all Solomartel properties are located in markets that have a stable and already
                            diversified economy that is reliant on various industries that cannot be outsourced yet an
                            economy that is also emerging and will grow in the years to come.<br><br>
                            Secondly,even despite that and considering the worst case scenario,all Solomartel properties
                            have a safety margin. This is because we always negotiate and purchase our deals below
                            market value and the amount invested is always lower than the actual value of the properties
                            reducing the risk of the investor to nearly 0 as the properties can always be resold at a
                            profit.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-xl-12">
                <div class="row row-30 flex-column justify-content-center align-items-justify">
                    <div class="p-2">
                        <h6 class="mt-2 font-weight-bold">How long is the term of the fund/ what if I decide to sell
                            ?</h6>
                    </div>
                    <div class="p-3">
                        <p class="text-justify">The idea behind investing in Solomartel is to invest for the long term
                            and benefit from the Cashflow, the returns being some of the highest available in the
                            marketplace and most likely
                            the highest considering the unmatched stability that our investments provide. <br><br>
                            The long term mentality does not apply solely to investing into Solomartel but investing in
                            real estate as we are dealing with buildings after all. Real estate funds are designed to be
                            long term, the shorter the term of a real estate fund,the lower the returns are on average.
                            <br><br>
                            This is why if you decide to invest in REITs (Real estate investment trusts) such as the
                            ones on Wallstreet, the returns are literally peanuts while the risk that the investor takes
                            is
                            enormous. Moreover, REITs are not really real estate investment funds, they are liquid
                            hybrid paper inestments that do not provide the stability of an actual investment piece of
                            real
                            estate and most of them generate a significant amount of revenue from fees which is another
                            stimulant for them to keep the terms short. <br><br>
                            The investments that Solomartel provides are designed to allow individuals and companies to
                            earn passive income and for the investments to “re-pay” themselves, they are not designed
                            for speculation. <br>
                            However,if for urgent reasons, one of our clients wish to sell their investment, Solomartel
                            can help its customers sell their investments upon demand from our customers as we always
                            have
                            customers wishing to invest in already closed funds.
                            <br><br>
                            <strong>If you did not find the answer to your question,feel free to contact us via the
                                contact
                                information provided in your account or if not registered yet, by using the <a href="{% url 'base:contacts' %}">contact page</a>
                                of
                                our platform.
                            </strong>
                            <br><br>
                            <strong> We respect the privacy of the participants in our funds. </strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<!-- Global Mailform Output-->
<div class="snackbars" id="form-output-global"></div>
{% endblock content %}