{% extends 'base/base.html' %}
{% load static %}

{% block title %}
<title>Transactions - Solomartel </title>
{% endblock title %}
{% block content %}
<!-- Breadcrumbs -->

<div class="breadcrumbs-custom-inner"><br>
    <div class="row justify-content-center alert alert-success text-center" id="msg">
        <h3>Thank you for your completed all your steps,Your request is being processed,we will contact you
            shortly </h3>
        <p>Reviewing Your Request</p>
    </div>
</div>

{% endblock content %}
