{% extends 'accounts/base/base.html' %}
{% load static %}


{% block title %}
<title> Reset Password | Solomartel </title>
{% endblock title %}

{% block styles_page %}
<style>
  label::after {
    content: "*";
    color: red;
  }
 .checkbox:after{
  content: none;
  }
.g_st.without-after-element:after {
    content: none;

  }
  .form-control.has-error {
    border: 1px solid #FB404B !important;
    color: #FB404B !important;
}

.form-control.has-success {
    border: 1px solid #28a745 !important;
    color: #28a745 !important;

}
.error-msg {
    color: red;
    font-size: 13px;
    margin: 3px;
}




</style>
{% endblock styles_page %}

{% block content %}
<div class="widget-content ">
    {% if msg %}
    <div class="alert alert-danger" id="msg">{{msg}}</div>
    {% endif %}
    {% if success %}
    <form method="POST" action="{% url 'accounts:reset_password' %}?q={{ email }}" id="forgotSubmit">
        {% csrf_token %}
        <div id="form_div">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label col-sm-12" for="psw_customer">New Password</label>
                        <div class="col-sm-12">
                            <input type="password" class="form-control" minlength="3"
                                   maxlength="30" id="psw_customer"
                                   placeholder="New Password" name="password" onkeyup="Password()">
                            <span class="error-msg"
                                  id="password_label"></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label col-sm-12" for="otp_field"> Otp</label>
                        <div class="col-sm-12">
                            <input type="number" id="otp_field" class="form-control" minlength="3" maxlength="5"
                                   placeholder="Otp" name="otp" onkeyup="Otp_check()">
                            <span class="error-msg"
                                  id="otp_label_text"></span>
                        </div>
                    </div>
                </div>

            </div>


            <div class="row mt-5">
                <div class="col-sm-5 align-self-start">
                </div>
                <button style="background-color: #353578;border-color:#2a72d2" type="submit"
                        class="btn btn-success">Update Password
                </button>

            </div>
        </div>
    </form>
    {% endif %}
    <a href="{% url 'accounts:login' %}">Back to login</a>
</div>
{% endblock content %}

{% block scripts_page %}
<script src="{% static 'js/reset_psw.js' %}"></script>
{% endblock scripts_page %}
